<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/static/auth/css/index.css">
    {% block title %} {% endblock %}
</head>

<body>
    <header>
        <nav class="navbar">
            <h3 class="nav-title text-primary"> UpDev </h3>
            <div class="nav-link">
                {% if current_user.is_authenticated %}
                <p> Hello, <span class="text-primary"> {{ current_user.fullname}}</span> </p>
                <a href="{{url_for('auth.logout_page')}}"> 
                    <button class="btn btn-primary">Logout </button>
                </a>
                {% else %}
                <a href="{{url_for('auth.register')}}">
                    <button class="btn btn-primary"> Register</button>
                </a>
                <a href="{{url_for('auth.login')}}">
                    <button class="btn btn-flt"> Login</button>
                </a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main class="layout">
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>