{% extends 'base.html' %}

{% block header%} rgfvrfgrfgv{% endblock%}
{% block body %} 
    <div class="user">
        {% if session.name %}
        Logged in as: <b>{{session.name}}</b>
    </div>
        <a href="{{ url_for('auth.logout') }}">Log Out</a>
        <a class="action" href="{{ url_for('post.new_posts') }}">New Post</a>
        {% else %}
          <a href="{{ url_for('auth.register') }}">Register</a>
          <a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
{% endblock %}
