{% extends 'base.html' %}
{% block title %} Update {% endblock %}

{% block body %}

<form method="post">
  
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="title" name="title" id="title" class="form-control" aria-describedby="username" 
        value="{{ request.form['title'] or post['title'] }}" required>
      </div>

      <label for="body">Body</label>
    <textarea class="form-control" name="body" id="body floatingTextarea">{{ request.form['body'] or post['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  
  {% endblock %}

